<%= form_for @project do |f| %>

<% if @project.errors.full_messages.any? %>
  <% @project.errors.full_messages.each do |error_message| %>
    <%= error_message if @project.errors.full_messages.first == error_message %> <br />
  <% end %>
<% end %>

<div class="field">
  <%= f.label :title %>
  <%= f.text_field :title %><br />
</div>

<div class="field">
  <%= f.label :category %>
  <%= f.text_field :category %><br />
</div>
<div class="field">
  <%= f.label :contract_number %>
  <%= f.text_field :contract_number %><br />
</div>

<div class="field">
  <%= f.label :solicitation_number %>
  <%= f.text_field :solicitation_number %><br />
</div>

<div class="field">
  <%= f.label :project_officer %>
  <%= f.text_field :project_officer %><br />
</div>

<div class="field">
  <%= f.label :project_start_date %>
  <%= f.datetime_field :project_start_date %><br />
</div>

<div class="field">
  <%= f.label :project_end_date %>
  <%= f.datetime_field :project_end_date %><br />
</div>

<div class="field">
  <%= f.label :substantial_completion_date %>
  <%= f.datetime_field :substantial_completion_date %><br />
</div>

<div class="field">
  <%= f.label :contract_amount %>
  <%= f.text_field :contract_amount %><br />
</div>

<div class="field">
  <%= f.label :location %>
  <%= f.text_field :location %><br />
</div>


   <div class="contractor-info"><h3>Select a Contractor</h3></div>
<div class="field">
  <%= f.collection_check_boxes(:contractor_ids, Contractor.all, :id, :name ) do |c| %>
  <p>
    <%= c.label %>
    <%= c.check_box :class => "check_box" %>
  <% end %>
  
</div><br />
 
 <div class="contractor-info"><h3>Create a new Contractor</h3></div>

<%= f.fields_for :contractors, @project.contractors.build do |contractors_fields| %>

<%= contractors_fields.label :name %>
<%= contractors_fields.text_field :name.downcase %>
<br />

<div class="field">
<%= contractors_fields.label :address %>
<%= contractors_fields.text_field :address %>
</div><br />

<div class="field">
<%= contractors_fields.label :email %>
<%= contractors_fields.text_field :email %>
</div><br />

<div class="field">
<%= contractors_fields.label :group %>
<%= contractors_fields.select "group", options_for_select(["Prime", "Sub"]), include_blank: true %></div>
 <%end%><br />

 

<div class="actions">
  <%= f.submit %><br />
</div>

<% end %>


