<%= form_for @project do |f| %>

<% if @project.errors.full_messages.any? %>
  <% @project.errors.full_messages.each do |error_message| %>
    <%= error_message if @project.errors.full_messages.first == error_message %> <br />
  <% end %>
<% end %>

<%= f.label :title %>
<%= f.text_field :title %><br /></br>

<%= f.label :type  %>
<%= f.text_field :type %><br /></br>

<%= f.label :contract_number %>
<%= f.text_field :contract_number %><br /></br>

<%= f.label :solicitation_number %>
<%= f.text_field :solicitation_number %><br /></br>


<%= f.label :project_officer %>
<%= f.text_field :project_officer %><br /></br>

<%= f.label :project_start_date %>
<%=  f.date_select(:project_start_date, prompt: {day: 'Choose day', month: 'Choose month', year: 'Choose year'}) %>  <br /></br>

<%= f.label :project_end_date %>
<%= f.date_select :project_end_date %><br /></br>

<%= f.label :substantial_completion_date %>
<%= f.date_select :substantial_completion_date %><br /></br>

<%= f.label :contract_amount %>
<%= f.text_field :contract_amount %></br></br>

<%= f.label :location %>
<%= f.text_field :location %><br></br>

        <h2> Prime Contractor </h2>

<%= f.fields_for :contractors, @project.contractors.build do |contractor_fields| %>
<%= contractor_fields.label :name %>
<%= contractor_fields.text_field :name %><br></br>

<%= contractor_fields.label :address %>
<%= contractor_fields.text_field :address %><br></br>

<%= contractor_fields.label :telephone %>
<%= contractor_fields.telephone_field :telephone %>
<% end %><br></br>

<%= f.submit "Create a new project" %><br />

<% end %>


