<%= form_for @project do |f| %>

<% if @project.errors.full_messages.any? %>
  <% @project.errors.full_messages.each do |error_message| %>
    <%= error_message if @project.errors.full_messages.first == error_message %> <br />
  <% end %>
<% end %>

<div class="field">
<%= f.label :title %>
<%= f.text_field :title %><br />
</div>

<div class="field">
<%= f.label :category %>
<%= f.text_field :category %><br />
</div>

<div class="field">
<%= f.label :contract_number %>
<%= f.text_field :contract_number %><br />
</div>

<div class="field">
<%= f.label :solicitation_number %>
<%= f.text_field :solicitation_number %><br />
</div>

<div class="field">
<%= f.label :project_officer %>
<%= f.text_field :project_officer %><br />
</div>

<div class="field">
<%= f.label :project_start_date %><br />
<%= f.datetime_field :project_start_date %>
</div>

<div class="field">
<%= f.label :project_end_date %>
<%= f.datetime_field :project_end_date %><br />
</div>

<div class="field">
<%= f.label :substantial_completion_date %><br />
<%= f.datetime_field :substantial_completion_date %>
</div>

<div class="field">
<%= f.label :contract_amount %><br />
<%= f.text_field :contract_amount %>
</div>

<div class="field">
<%= f.label :location %><br />
<%= f.text_field :location %>
</div>

<div class="field">
    <h3>Contractor's information</h3>

<%= f.collection_check_boxes(:contractor_ids, Contractor.all, :id, :name) %><br />
</div>

<div class="actions">
<%= f.submit %><br />
</div>
<% end %>


