<div class=project-show>

<h5>Title: <%= @project.title %></h5>

<h5>Location: <%= @project.location %></h5>

<h5>Contract Number: <%= @project.contract_number %></h5>

<h5>Category: <%= @project.category %></h5>

<h5>Start date: <%= @project.project_start_date %></h5>

<h5>End date: <%= @project.project_end_date %></h5>

<h5>Substantial completion date: <%= @project.substantial_completion_date%></h5>

<h5>Contract Amount: <%= @project.contract_amount %></h5>
         
        <div class="info"><h4>Contractors' Information</h4></div>
 <% @project.contractors.each_with_index do |contractor| %>
 <div class="contractor-info">
 <li>
  <fieldset>
  <h5>Contractor Name: <%= "#{contractor.name}" %></h5>
  <h5>Category: <%="#{contractor.group}"%></h5>
  </fieldset>
  </li>
 </div>
  <% end %>



<% if current_user.admin?%>
 
 <div class="info"><h4>Project's Comments:</h4></div>
<% @project.comments.each do |comment| %>
  <li>
  <%= comment.content %> <h6><%= comment.created_at.strftime("Printed on %m/%d/%Y") %></h6>  <h5><%= link_to "Edit comment", edit_project_comment_path(@project, comment) %> | <%= link_to "Delete comment", project_comment_path(@project, comment), :data => {:confirm => "Are You sure?", :method => "delete"}%></h5>
  </li>
 <% end %>
 
 
<h4><%= link_to "New comment", new_project_comment_path(@project) %></h4>

<%= link_to "Edit Project", edit_project_path(@project)%> |

<%= link_to "Delete project", project_path(@project),  :data => {:confirm => "Are You sure?", :method => "delete"}%> |

<%= link_to "Back to projects", projects_path%> | <%= link_to "Create a new project", new_project_path %> |

<% end %>
<%= link_to "Return", root_path %>
 </div>
