<h5>Name: <%=@contractor.name%></h5>
   
<h5>Address: <%=@contractor.address%></h5>

<h5> Email: <%= @contractor.email %></h5>
  
<h5> Group: <%= @contractor.group %></h5>
   </br><br> 

<% if user_signed_in? %>

<h5>Listed below is the list of our current projects in progress:</h5>
  <% @projects.each do |project| %>
  <%= link_to "#{project.title}", project_path(project)%>
  <% end %>



<% end %><br></br> 

<% if current_user.admin?%>

  <%= link_to "Edit contractor", edit_contractor_path(@contractor)  %><br></br>
  <%= link_to "Delete contractor", contractor_path(@contractor), :data => {:confirm => "Are You sure?", :method => "delete"}%> <br></br>
          <h3 class="contractor_projects">Projects</h3>
  <% @contractor.projects.each do |project| %>
  <li>
  <%= link_to "#{project.title}", project_path(project) %>
</li>
<% end %>

<%end%>